.azul, .amarillo, .rojo {
 	width: 25%;
 	height: 100px ;
 	float: left;
 }
 .azul{
 	background-color: blue;
 }
 .amarillo{
 	background-color: yellow;
 }
 .rojo{
 	background-color: red;
 }
 .blanco{
 	border-style: solid;
 	border-width: 1px;
 	
 }
 
  .clearfix:before, .clearfix:after{
  	content:"";
  	display: table;
  }
 .clearfix:after{
 	clear:both;
 }